<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form action="/flights" id="new-form" method="POST">
    <label for="airline">Airline</label>
    <select name="airline" id="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select>
    <label for="airport">Airport</label>
    <select name="airport" id="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label for="flightNo">Flight Number</label>
    <input type="text" name="flightNo" id="flightNo">
    <label for="departs">Departs</label>
    <input type="date" name="departs" id="departs">
    <button type="submit">Add Flight</button>
    
</form>
</main>
<%- include('../partials/footer') %>